# See https://help.github.com/ignore-files/ for more about ignoring files.

# Node / NPM / Yarn
node_modules

# Build
/local
/build
/run
/vendor

# Secrets
.secret
.env
.env.prod

# OS
.DS_Store

# IntelliJ IDEA
*.iml
*.iws
*.ipr
.idea/

# Test Coverage
/coverage*
.nyc_output

# Personal Preferences
.vscode
